@import "@styles/settings/__settings";
@import "@styles/util/__util";

$presentation-background: $color-primary !default;
$presentation-source-screen-width: 1792px;
$presentation-source-screen-height: 1120px;
$presentation-ratio-multiplier: $presentation-source-screen-width / $presentation-source-screen-height;

$presentation-screen-buffer: 20px;
$presentation-screen-height: $scene-height - $scene-footer-height - $scene-margin - $presentation-screen-buffer;
$presentation-screen-width: $presentation-screen-height * $presentation-ratio-multiplier;

.presentationStage {
  flex-grow: 1;
  justify-content: center;
}

.presentationScreen {
  width: $presentation-screen-width;
  height: $presentation-screen-height;
  background-color: $presentation-background;
  margin: 0 auto;
  @include boxShadow();
}