@import "@styles/settings/__settings";
@import "@styles/util/__util";

.multiDiscussion {
  display: flex;
  align-items: center;
}

.multiDiscussionCameraContainer {

  position: relative;
  z-index: 1;
  margin-right: $scene-margin;
  margin-bottom: 2rem;

  &:last-child {
    margin-right: 0;
  }

}