@import "@styles/settings/__settings";
@import "@styles/util/__util";

$single-source-screen-width: 1792px;
$single-source-screen-height: 1120px;
$single-ratio-multiplier: $single-source-screen-width / $single-source-screen-height;

$single-screen-height: $scene-height - $scene-footer-height - $scene-margin;
$single-screen-width: $single-screen-height * $single-ratio-multiplier;

.multiDiscussion {
  display: flex;
}

.multiDiscussionStage {
  flex-grow: 1;
  justify-content: center;
}

.multiDiscussionScreen {
  width: $single-screen-width;
  height: $single-screen-height;
  background-color: $color-primary;
  margin: 0 auto;
  @include boxShadow();
}

.multiDiscussionSidebar {
  width: $scene-sidebar-width;
  height: 100%;
  margin-left: $scene-margin;
}