@import "@styles/settings/__settings";

.singleDiscussion {

  display: flex;

  & > div {
    align-items: center;
  }

}

.singleDiscussionCameraContainer {

  position: relative;
  z-index: 1;
  margin-right: $scene-margin;
  margin-bottom: 2rem;

  &:last-child {
    margin-right: 0;
  }

}