@import "@styles/settings/__settings";
@import "@styles/util/__util";

$component-discord-link-foreground: $color-deep-blue !default;
$component-discord-link-background: $color-secondary !default;

.SceneContainer {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: $scene-width;
  height: $scene-height;
  background-color: $scene-background-color;
  background-size: cover;
  background-image: $scene-background-image;
  padding: 0;
}

.SceneContainerBody {
  display: flex;
  flex-grow: 1;
  min-height: 0;
  justify-content: center;
  padding: 1rem;
}

.SceneContainerFooter {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: $scene-footer-height;
  width: $scene-width;
  padding: 0 ( $scene-sidebar-width + ( $scene-margin * 2 ) ) 1rem 2rem;
}

.SceneContainerFooterDiscord {

  display: flex;
  align-items: center;
  height: $scene-footer-component-height;
  color: white;
  font-size: 1.8em;
  background-color: $component-discord-link-background;
  padding: 0 1.6rem 0 1.4rem;
  @include boxShadow();

  svg {
    color: $component-discord-link-foreground;
    font-size: 1.8em;
    margin-right: .2em;
  }

  p {
    display: flex;
    flex-direction: column;
  }

  strong {
    line-height: .8;
    margin-bottom: .1em;
  }

  span {
    font-size: .7em;
    font-weight: 600;
    line-height: 1;
  }

}

.SceneContainerFooterCosmo {

  position: absolute;
  bottom: -30px;
  right: $scene-margin + ( ( $scene-sidebar-width - $scene-footer-cosmo-width ) / 2 );
  width: $scene-footer-cosmo-width;

  svg {
    position: relative;
    z-index: 1;
    width: 100%;
    height: auto;
  }

  &:after {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    content: '';
    width: 300px;
    height: 300px;
    background-color: $component-shadow-box-color;
    border-radius: 50%;
    margin: auto;
    filter: blur(80px);
  }

}