@import "colors";
@import "display";

// Theme

$component-shadow-box-color: #511313;
$component-twitch-chat-background: #8D0C0E;
$component-discord-link-foreground: #043300;
$component-discord-link-background: #0F8805;

$presentation-background: #8D0C0E;
$camera-container-background: #8D0C0E;
$camera-container-label-background: #0F8805;

$scene-background-color: #511313;
$scene-background-image: url('../../images/Background-christmas.jpg');