$scene-width: 1920px;
$scene-height: 1080px;
$scene-margin: 20px;

$scene-background-color: $color-deep-blue;
$scene-background-image: url('../../images/Background.jpg');

$scene-footer-height: 135px;
$scene-footer-cosmo-width: 350px;
$scene-footer-component-height: 6rem;

$scene-sidebar-width: 412px;
$scene-sidebar-camera-width: $scene-sidebar-width;
$scene-sidebar-camera-height: $scene-sidebar-width * .75;