@import "@styles/settings/__settings";

.sidebar {
  width: $scene-sidebar-width;
  height: 100%;
  margin-left: $scene-margin;
}

.sidebarCameraContainer {

  margin-bottom: $scene-margin;

  &:last-child {
    margin-bottom: 0;
  }

}