@import "@styles/settings/__settings";
@import "@styles/util/__util";

$camera-container-background: $color-primary !default;
$camera-container-label-background: $color-teal !default;

$camera-container-label-height: 50px;
$camera-container-medium-width: $scene-sidebar-camera-width;
$camera-container-medium-height: $scene-sidebar-camera-height;
$camera-container-medium-height-span2: $camera-container-medium-height * 2;

$presentation-source-screen-width: 1792px;
$presentation-source-screen-height: 1120px;
$presentation-ratio-multiplier: $presentation-source-screen-width / $presentation-source-screen-height;

$camera-container-large-buffer: 300px;
$camera-container-large-height: $scene-height - $scene-footer-height - $scene-margin - $camera-container-label-height - $camera-container-large-buffer;
$camera-container-large-width: $camera-container-large-height * $presentation-ratio-multiplier;

$camera-container-xlarge-buffer: 120px;
$camera-container-xlarge-height: $scene-height - $scene-footer-height - $scene-margin - $camera-container-label-height - $camera-container-xlarge-buffer;
$camera-container-xlarge-width: $camera-container-xlarge-height * $presentation-ratio-multiplier;

.CameraContainer {

  position: relative;
  z-index: 3;
  background-color: $camera-container-background;
  @include boxShadow();

  &[data-size="medium"] {
    width: $camera-container-medium-width;
    height: $camera-container-medium-height + $camera-container-label-height;
  }

  &[data-size="large"] {
    width: $camera-container-large-width;
    height: $camera-container-large-height + $camera-container-label-height;
  }

  &[data-size="xlarge"] {
    width: $camera-container-xlarge-width;
    height: $camera-container-xlarge-height + $camera-container-label-height;
  }

  &[data-span="2"] {
    height: $camera-container-medium-height-span2 + $camera-container-label-height;
    @include boxShadow();
  }

}

.CameraContainerCamera {

  width: $camera-container-medium-width;
  height: $camera-container-medium-height;

  [data-size="medium"] & {
    width: $camera-container-medium-width;
    height: $camera-container-medium-height;
  }

  [data-size="large"] & {
    width: $camera-container-large-width;
    height: $camera-container-large-height;
  }

  [data-size="xlarge"] & {
    width: $camera-container-xlarge-width;
    height: $camera-container-xlarge-height;
  }

  [data-span="2"] & {
    height: $camera-container-medium-height-span2;
  }

}

.CameraContainerLabel {

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  width: 100%;
  height: $camera-container-label-height;
  color: white;
  font-size: 1.4em;
  font-weight: bold;
  background-color: $camera-container-label-background;
  padding-bottom: 2px;

}