@import "@styles/settings/__settings";

$camera-container-label-height: 50px;
$camera-container-width: $scene-sidebar-width;
$camera-container-height: $scene-sidebar-width;

.CameraContainer {

  width: $camera-container-width;
  height: $camera-container-height + $camera-container-label-height;

  &[data-span="2"] {
    height: $camera-container-height * 2 + $camera-container-label-height
  }

}

.CameraContainerCamera {

  width: 100%;
  height: $scene-sidebar-width;
  background-color: $color-primary;

  [data-span="2"] & {
    height: $camera-container-height * 2 + $camera-container-label-height
  }

}

.CameraContainerLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: $camera-container-label-height;
  color: white;
  font-size: 1.4em;
  font-weight: bold;
  background-color: $color-teal;
  padding-bottom: 2px;
}